.photo{
    width: 40%;
    height: 80%;
}
.Travelform{
    border: solid 1px;
    margin: 2% 40%;
    border-radius: 10px 20px;
    padding: 20px;
    width: 40%;
    right: auto;
}
.input{
    padding: 14px 12px;
    border-radius: 1px;
    width: 50%;
}
button{
    padding: 6px 12px;
    border: none;
    background-color: aqua;
    color: white;
    border-radius: 1px;
    width: 50%;
}
.signup{
    color: aqua;
}
.h1{
    position: relative;
    text-align: left;
    top: 12px;
    left: 12px;
    text-decoration-color: aqua;
}